
*{
    margin: 0px;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}

a{
    text-decoration: none;

}
ul{
    list-style: none;
}


/* admin post  */
#post-contaniner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.post-box{
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #dad1d1;
    margin: 20px;
}
.post-img{
   width: 100%;
    height: auto;
}
.post-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.date{
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.date span i{
    color: blue;
    font-size: 0.9rem;
    margin-right: 0.4rem;
}

.date .post-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}
.date .post-title:hover{
    color: rgb(243, 5, 5);
    transition: all ease 0.35;
}
.post-title p{
    color: #111;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.post-title a{
color: #111;
}
.post-title a:hover{
    color: red;
    transition:  all ease 0.3s;
}
@media (max-width:1250px) {
    .post-box{
        width: 500px;
    }
    
}
@media (max-width:110px) {
    .post-box{
        width:70%;
     
    }
    
}
@media (max-width:1250px) {
    .post-box{
        margin: 20px 10px;
        width: 100%;
    }
    
}



.post {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .posttitle {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .postauthor {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 1rem;
  }
  
  .postcontent {
    line-height: 1.5;
  }

/* End Hearder Marque Section */




/*  Start Footer Section   */
#footer{
    position: absolute;
    left: 0;
    right: 0;
   
    background: #111;
    height: auto;
    width: 100vw;
    font-family: sans-serif;
    color: #fff;
   

}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h2{
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px aut0;
    line-height: 28px;
    font-size: 15px;
}
.socials-icon{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
   
}
.socials-icon li{
    margin: 0 10px;
}
.socials-icon a{
    text-decoration: none;
    color: #fff;
}
.socials-icon a i{
    font-size: 20px;
    transition: color .4s ease;
}
.socials-icon a:hover i{
    color: blue;
}
.footer-bottom{
    background: #5d60ca;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
 font-size: 18px;
 word-spacing: 2px;
 text-transform: capitalize;
}
.footer-bottom span{
    text-decoration: uppercase;
    opacity: .4;
    font-weight: 200;
}
/* End  Footer Section   */

/* Sidebar Styling */

/* Single page css  */
